@using Domain.Models

<EditForm Model="@contactCopy" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="firstName">First Name:</label>
        <InputText class="form-control" id="firstName" @bind-Value="contactCopy.FirstName" />
        <ValidationMessage class="text-danger" For="@(() => contactCopy.FirstName)" />
    </div>

    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <InputText class="form-control" id="lastName" @bind-Value="contactCopy.LastName" />
        <ValidationMessage class="text-danger" For="@(() => contactCopy.LastName)" />
    </div>

    <div class="form-group">
        <label for="Email">Email:</label>
        <InputText class="form-control" id="Email" @bind-Value="contactCopy.Email" />
        <ValidationMessage class="text-danger" For="@(() => contactCopy.Email)" />
    </div>

    <div class="form-group">
        <label for="PhoneNumber">Phone Number:</label>
        <InputText class="form-control" id="PhoneNumber" @bind-Value="contactCopy.PhoneNumber" />
        <ValidationMessage class="text-danger" For="@(() => contactCopy.PhoneNumber)" />
    </div>

    <button class="btn btn-success" type="submit">@ButtonText</button>
</EditForm>

@code {
    [Parameter]
    public Contact Contact { get; set; }

    [Parameter]
    public string ButtonText { get; set; }
  

    [Parameter]
    public Action<Contact> OnValidSubmit { get; set; }

    private Contact contactCopy;

    protected override void OnInitialized()
    {
        contactCopy = new Contact
            {
                FirstName = Contact.FirstName,
                LastName = Contact.LastName,
                Email = Contact.Email,
                PhoneNumber = Contact.PhoneNumber
            };

        base.OnInitialized();
    }

    private void HandleValidSubmit()
    {
        OnValidSubmit(contactCopy);

       
    }
}
